@using Microsoft.AspNetCore.Identity
@using BookReviewer.Helpers
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager

@if (TempData["Message"] != null){
    await Html.RenderPartialAsync("_MessagePartial");
}
 
@if (TempData.Peek<Review>("Review") != null)
{   
    <div class="top-menu">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">New Review</a>
    </div>

    var review = TempData.Get<Review>("Review");
    var userId =  User.FindFirstValue(ClaimTypes.NameIdentifier);

    // 
    if (SignInManager.IsSignedIn(User) && review != null && review.AuthorId == userId)
    {
        await Html.RenderPartialAsync("_ContentEditPartial");      
    }
    else
    {   
        await Html.RenderPartialAsync("_ContentBrowsePartial");                       
    }
}
else
{
    await Html.RenderPartialAsync("_ContentDraftPartial");
} 