@using Microsoft.AspNetCore.Identity
@using BookReviewer.Helpers
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager

@if (TempData["Message"] != null){
    await Html.RenderPartialAsync("_MessagePartial");
}
 
@if (TempData.Peek<Review>("Review") != null)
{   
    var review = TempData.Get<Review>("Review");
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);       

    <div class="top-menu">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">New Review</a>

        @if (SignInManager.IsSignedIn(User) && review != null && review.ReviewerId == userId)
        {
            <a class="btn btn-warning" asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id">Delete</a>
        }
    </div>

    <div>
        @await Component.InvokeAsync("Carousel", new { reviewId = @review.Id, menu = "Home" })
    </div>   

    if (SignInManager.IsSignedIn(User) && review != null && review.ReviewerId == userId)
    {
        await Html.RenderPartialAsync("_ReviewEditPartial");      
    }
    else
    {   
        await Html.RenderPartialAsync("_ReviewBrowsePartial");                       
    }
    <div>
        @await Component.InvokeAsync("FeedbackList", new { reviewId = @review.Id, menu = "Home" })
    </div>    
}
else
{
    await Html.RenderPartialAsync("_ReviewDraftPartial");
} 