@using Microsoft.AspNetCore.Identity
@using BookReviewer.Models
@using BookReviewer.Helpers
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-4 review" >
            @if (SignInManager.IsSignedIn(User))
            {   
                <partial name="MyReviewPartial" />
                <br>
            }
            <partial name="ReviewPartial" />   
        </div>
        <div class="col-8 rich-text">
            @if (TempData["IsReviewContentIn"] != null && (bool) TempData["IsReviewContentIn"])
            {
                // Getting review
                var review = TempData.Get<Review>("review");

                // Getting userId    
                var userId =  User.FindFirstValue(ClaimTypes.NameIdentifier);

                // 
                if (SignInManager.IsSignedIn(User) && review != null && review.UserId == userId)
                {
                    <partial name="ReviewEditPartial" />
                }
                else
                {   
                    <partial name="ReviewBrowsePartial" />
                }
            }
            else
            {
                <partial name="ReviewDraftPartial" />
            }      
        </div>
    </div>
</div>


