@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-4 review-list" >
            @if (SignInManager.IsSignedIn(User))
            {   
                await Html.RenderPartialAsync("_MyReviewListPartial");
                <br>
            }
            @{
                await Html.RenderPartialAsync("_ReviewListPartial");
            }            
        </div>
        <div id="ReviewContent" class="col-8 review">
            @{
                await Html.RenderPartialAsync("_ReviewPartial");
            }        
        </div>
    </div>
</div>
@section Scripts {    
    <script>
        function onReadReview(reviewId) {
            displayLoadingIndicator();      

            $.ajax({
                url: '@Url.Action("Review","Home")',
                type: 'GET',
                data: {id: reviewId},

                // Refreshing Review Content only 
                success: function (response) {
                    hideLoadingIndicator();                    
                    $('#ReviewContent').html(response);
                },
                error: function (response) {
                    hideLoadingIndicator();                       
                    alert(response.responseText);                 
                }
            });
        }                          
    </script>
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartialQuill");}    
}