@model dynamic
    
<h4>My Review</h4>
@if (Model != null)
{                
    <div class="scrollable">
        <table class="table">
            <tbody>
        @foreach (var review in Model.MyReviewSubjects) {
                <tr>
                    <td>
                        @review.Subject
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@review.Id">Read</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
}