@using BookReviewer.Models
@using BookReviewer.Helpers

<link href="~/lib/quill/quill.snow.css" rel="stylesheet">

@{ 
    var review = TempData.Get<Review>("review");
    if (review != null)
    {
        var content = review.Content;
        <input id="hiddenContent" name="content" type="hidden" value="@content">
        <div id="quill-container" class="browser">
        </div> 
    }    
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/quill/quill.js"></script>

<!-- Initialize read only Quill editor -->
<script> 
$(document).ready(function () {
    var quill = new Quill('#quill-container', {
        modules: {
            toolbar: false
        },
        readOnly: true,  
        theme: 'snow'
    });   
    var content = $("#hiddenContent").val();
    var delta = JSON.parse(content);
    quill.setContents(delta, 'silent');          
});    
</script>