.review {
    margin-top: 1vmin;
}

.review-text {
    margin-bottom: 1vmin;
}

.review-detail {
    margin-left: 0.1vmin;
    margin-bottom: 1vmin;
}

.book-cover {
    padding: 0;
}

.book-cover > label { 
    cursor: pointer;
}

.book-cover img {
    border: thin solid #a9b3ee;
    width: 9em;
    height: 12em;
    object-fit:fill;
}

.book-cover-icon img {
    width: 1em;
    height: 1.3em;
    object-fit:fill;
}

.book-cover-icon > a {
    text-decoration: none;
    cursor: pointer;
}

.book-cover > input {
    display: none;
}

.top-menu {
    margin-bottom: 0.5vmin;
}

.bottom-menu {
    margin-top: 0.5vmin;
}

.right-menu {
    padding: 0 !important;
}


.browser {
    min-height: 30vmax;
}

#quill-container {
    width: 100%;
    height: auto;
    cursor: text;  
    padding: 2vmin 3vmin;
}

.editor {
    min-height: 30vmax;
    max-height: 95%;
    height: auto !important;
}

.editor-edit {
    max-height: 95%;
    height: auto !important;
}

#quill-container-simple {
    width: 100%;
    height: auto;
    cursor: text;  
}

.ql-editor {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
    overflow-y: auto; 
}

.ql-clipboard {
    display: none;
}