.rich-text {
    margin-top: 1vmin;
}

#quill-container {
    width: 100%;
    cursor: text;  
    padding: 2vmin 3vmin;
}

.editor {
    min-height: 30vmax;
    max-height: 95%;
}

.browser {
    min-height: 30vmax;
    max-height: 46vmax;
}

#quill-container .ql-editor {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
    overflow-y: auto; 
}